<nav class="navbar">
  <div class="nav-brand">
    <h1 routerLink="/search" style="cursor: pointer">Flight Booking App</h1>
  </div>

  <div class="nav-links" *ngIf="isLoggedIn()">
    <a routerLink="/flights/search" routerLinkActive="active">Search Flights</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>

    <a *ngIf="flightService.isAdmin()" routerLink="/admin" routerLinkActive="active" class="admin-link">
      Admin Panel
    </a>

    <button (click)="logout()" class="btn-logout">Logout</button>
  </div>

  <div class="nav-links" *ngIf="!isLoggedIn()">
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Register</a>
  </div>
</nav>